.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.sns-timeLine {

}
.sns-timeLine li {
    border: solid 1px #444;
    margin: 5px;
    padding: 10px;
    width: 30%;
}

.sns-timeLine li div {
    /*border: solid 1px #F66;*/
    padding: 5px;
}