<div>
  <h2>My Time line</h2>
  <ul class="sns-timeLine">
    <li *ngFor="#snsTimeLine of snsTimeLines">
      <div *ngIf="type == 'twitter'" class="badge">{{snsTimeLine.text}}</div>
      <div *ngIf="type == 'google'" class="badge">{{snsTimeLine.title}}</div>
      <div>{{snsTimeLine.source || snsTimeLine.url}}</div>
    </li>
  </ul>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->